html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0 none;font:inherit;margin:0;padding:0;vertical-align:baseline;font-size: 14px;}
ol,ul{list-style:none outside none;}
*{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;-o-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;font: /20px Microsoft YaHei,Î¢ÈíÑÅºÚ,Arial,Helvetica,sans-serif;}
table{border-collapse:collapse;border-spacing:0;}
input,textarea{font:inherit;resize:none;outline:medium;}
body{font:14px/20px Microsoft YaHei,Î¢ÈíÑÅºÚ,Arial,Helvetica,sans-serif;margin:0;padding:0;}
input{border:0;}
select{outline: none;}
a{text-decoration:none;transition:color 0.2s linear 0s;cursor:pointer;}
a:focus,a:link,a:active{outline:medium none;text-decoration: none;}
a:visited,a:hover{text-decoration: none;}
button{border: none;outline: none;cursor: pointer;}
.clear{clear:both;content:"";height:1;visibility:hidden;}
.Txtcenter{text-align:center;}
.txtLeft{text-align:left;}
.txtRight{text-align:right;}
.left{float:left !important;}
.right{float:right !important;}
.borderNone{border: none !important;}
.relative{position: relative !important;}
.hide{display: none;}
/*
    主界面
*/

@media (min-width: 767px){
    .logo-lg img {
        width: 100%;
    }
    .function-btn-box {
        position: relative;
        margin-bottom: 15px;
        width: 100%;
        height: 45px;
    }
    .function-btn-box ul{
        margin: 0;
        padding: 0;
    }
    .function-btn-box li{
        float: left;
        width: 50%;
        height: 45px;
    }
    .function-main-btn {
        width: 100%;
        height: 100%;
        background-color: #222d32;
        color: #eee;
        font-size: 15px;
        font-weight: bold;
        border-bottom: 1px solid #2c3b41;
    }
    .car-messageBox {
        position: absolute;
        right: 15px;
        min-width: 260px;
        width: 100%;
        padding: 0 10px 0 0;
    }
}
@media (max-width: 767px){
    .logo-lg img {
        height: 100%;
    }
}


.treeview-menu>li>a>i.text-green,
.treeview-menu>li>a>i.text-red,
.treeview-menu>li>a>i.text-muted {
    opacity: 0.6;
}
.treeview-menu>li.active>a>i.text-green,
.treeview-menu>li.active>a>i.text-red,
.treeview-menu>li.active>a>i.text-muted,
.treeview-menu>li>a:hover >i.text-green,
.treeview-menu>li>a:hover >i.text-red,
.treeview-menu>li>a:hover >i.text-muted{
    opacity: 1;
}
.navbar-nav>.user-menu>.dropdown-menu>li .menu>li>a {
    color: #444444;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
}
.navbar-nav>.user-menu>.dropdown-menu>li .menu>li>a:hover {
    background: #f4f4f4;            
    text-decoration: none;
}
.navbar-nav>.user-menu>.dropdown-menu>li .menu>li>a i {
    margin: 0 10px;
}
#carMes tbody tr td > .fa,#carMes tbody tr td > .ion{
    width: 19px;
}
.car-messageBox li{
    float: left;
    width: 50%;
}
#carMes {
    overflow-y: scroll;
}
.car-pho{
    position: relative;
    width: 100%;

}
.car-pho img{
    max-width: 100%;
}
.car-detail-table{
    white-space: nowrap;
}
.car-detail-table tbody tr td > .fa,.car-detail-table tbody tr td > .ion{
    width: 20px;
    text-align: center;
}
.car-detail-th {
    margin: -3px 0;
    padding: 0 13px;
    font-size: 16px;
    color: #444;
    display: block;
    position: relative;
}
.car-box-header{
    position: relative;
    margin: 10px 0;
    padding: 5px;
    font-size: 17px;
    color: #232323;
    text-align: center;
}
.car-deatil-warning tr td:nth-child(even){
    text-align: center;
}
.car-state{
    width: 100%;
}
.car-state th{
    font-weight: bold;
}

.both-box-header{
    position: relative;
    margin: 10px 0;
    padding: 20px 10px;
    font-size: 16px;
    line-height: 20px;
    color: #444;
}
.both-box-header select {
    min-width: 100px;
    display: inline-block;
    width: 10%;
    margin: 0 10px;
}
.both-box-header input {
    min-width: 100px;
    width: 15%;
    display: inline-block;
    margin-right: 10px;
}
.both-box-header button{
    min-width: 80px;
}



















































